:root{
    /* --primary-color: rgb(14 165 233 ); */
    --primary-color: rgb(131, 10, 140);
}


*{
     font-family: "Poppins", sans-serif;
}
.font-banmgla{
     font-family: "Hind Siliguri", sans-serif;
}

.primary-hover-color:hover{
    background-color:var(--primary-color);
    color: white;

}
.primary-hover-color2:hover{
  background: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);

}
.primary-bg{
    background-color: var(--primary-color);

}
.text-color{
    color: var(--primary-color);
}
.border-color{
border-color: var(--primary-color);
}
